.my-letter-box-unknown {
    -fx-border-color: grey;
    -fx-border-style: solid;
    -fx-border-width: 2;
}
.my-letter-box-yes {
    -fx-background-color: yellowgreen;
}
.my-letter-box-no {
    -fx-background-color: lightgrey;
}
.my-letter-box-maybe {
    -fx-background-color: sandybrown;
}
.my-letter {
    -fx-fill: white;
    -fx-font: normal bold 40 sans-serif;
    -fx-text-alignment: center;
    -fx-font-smoothing-type: gray;
    -fx-effect: dropshadow(gaussian, black, 10, 0.5, 2, 2);
}
.my-key {
    -fx-fill: white;
    -fx-font: normal bold 20 sans-serif;
    -fx-text-alignment: center;
    -fx-font-smoothing-type: gray;
}
.my-key-unknown {
    -fx-background-radius: 4;
    -fx-background-color: black;
}
.my-key-no {
    -fx-background-radius: 4;
    -fx-background-color: darkgrey;
}
.my-key-flash {
    -fx-background-radius: 4;
    -fx-background-color: lightgrey;
}
